*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Piazzolla', serif;
}

a, .link{
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	transition: all .3s;
}
a:hover, .link:hover{
	color: white;
	font-weight: bold;
}

body{
	color: #fff;
	min-height: 100vh;

	/*Gradient*/
	background: #297aa3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top left, #297aa3, hsl(200, 70%, 50%));   /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top left, #297aa3, hsl(200, 70%, 50%));/*  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

